<ul class="list-unstyled ul-language">
  {% if page.layout contains 'inner' %}
  {% assign posts=site.posts | where:"ref", page.ref  %}
  {% for post in posts | sort: 'lang' %}
  <li>
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a> {% unless forloop.last %} | {% endunless %}
  </li>
  {% endfor %}
{% endif %}
{% if page.layout contains 'default' %}
  {% assign pages=site.pages | where:"ref", page.ref %}
  {{ page.ref }}
  {% for page in pages | sort: 'lang' %}
    <li>
      <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a> {% unless forloop.last %} | {% endunless %}
    </li>
  {% endfor %}
{% endif %}
</ul>
